* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-image: url("/photo-1526374965328-7f61d4dc18c5.avif");
  /* background-color: #64a6bd; */
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.box {
  background-color: #efefef;

  padding-left: 60px;
  padding: 60px;
}

.box h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  color: blue;
  font-family: sans-serif;
}
input {
  padding: 20px;
  user-select: none;
  height: 50px;
  width: 400px;
  border-radius: 6px;
  border: none;
  border: 2px solid blue;
  outline: none;
  font-size: 22px;
}
input ::placeholder {
  font-size: 26px;
}

#btnGen {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  background-color: blue;
  color: white;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  padding-top: 10px;
  margin-left: 30%;
}
#btnGen:hover {
  color: turquoise;
  background-color: black;
}
